<P>
  <strong>Title:</strong>
  <p><%= @book.title %></p>
</p>

<P>
  <strong>Body:</strong>
  <p><%= @book.body %></p>
</p>

<!--editへ-->
<%= link_to "Edit", edit_book_path(@book.id) %>
<!--indexへ-->
<%= link_to "Back", "/books" %>