/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{

  box-sizing:border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/*top画面*/
.top_title{
  margin:10px 0;
}

.top_text{
  margin:35px;
}

.top_link{
  margin-left:35px;
}

/*index*/
td{
  padding:0 5px 8px 5px;
}

.title_width {
  width:192px;
  text-align:center;
}

.body_width {
  width:400px;
  text-align:center;
}

.field{
  padding-bottom:10px;
}

.book{
  display:block;
}

.actions{
  margin-bottom:10px;
}

/*エラー*/
.error_message{
  margin:0 0 20px 0;
  border:2px solid red;
  width:464px;
}

.error_message h2{
  color:#FFF;
  background-color:#C00;
  padding:5px 5px 5px 15px;
  margin:0;
  font-size:12px;
}

.error_message ul{
  background-color:#F0F0F0;
  margin:0;
  padding:33px;
}

.error_message li{
  margin-left:33px;
}

.error_field{
  padding-bottom:10px;
}

.error_field .book,.book_input{
  padding:2px;
  display:table;
  background-color:red;
}

/*show*/
.show{
  margin-left:33px;
  margin-bottom:33px;
}

.flash{
  color:#008000;
  margin-left:33px;
  margin-bottom:33px;
}

